@model IEnumerable<Ecommerce_Vestuario_REVIEW.Models.Customer>

@{
	ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("New Customer", "New", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Cadastro</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var clothe in Model)
		{
			<tr>
				<th scope="row">@clothe.Id</th>
				<td>@Html.ActionLink(@clothe.Nome, "Details", new { clothe.Id })</td>
				<td>@clothe.DataCadastro</td>
			</tr>
		}
	</tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-customer-id='" + data + "'>Delete</button>";
                        }
                    }
                ]
            });
        });
   
    
        $("#customers").on("click", ".js-delete",
           function () {
               var button = $(this);
               bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                   if (result) {
                       $.ajax({
                           url: "/api/customers/" + button.attr("data-customer-id"),
                           method: "DELETE",
                           success: function () {
                               table.row(button.parents("tr"))
                                    .remove().draw();
                           }
                       });
                   }
               });
           });
    
    </script>
}
       

