@model IEnumerable<Ecommerce_Vestuario_REVIEW.Models.Customer>

@{
	ViewBag.Title = "Clientes";
}

<h2>Lista de Clientes</h2>

<table class="table table-hover" id="customers">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Cadastro</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var customer in Model)
		{
			<tr class="col-xs-12">
				<th scope="row">@customer.Id</th>
				<td>@Html.ActionLink(@customer.Nome, "Details", new { customer.Id })</td>
				<td>@customer.DataCadastro</td>
                <td class="col-xs-1">@Html.ActionLink("Editar", "Edit", new { customer.Id}, new {@class = "glyphicon glyphicon-edit" })</td>
                <td class="col-xs-1"><span data-customer-id=@customer.Id class="js-delete btn-link glyphicon glyphicon-remove">Remover</span></td>
			</tr>
		}
	</tbody>
</table>


<p>
    @Html.ActionLink("Criar Novo Usuário", "New", null, new { @class = "btn btn-primary" })
</p>

@section scripts
{
    <script>
   
        $("#customers").on("click", ".js-delete",
           function () {
               var button = $(this);
               bootbox.confirm("Tem certeza que quer exluir o registro?", function (result) {
                   if (result) {
                       $.ajax({
                           url: "/customer/delete/" + button.attr("data-customer-id"),
                           method: "GET",
                           success: function () {
                               button.parents("tr").remove();
                           }
                       });
                   }
               });
           });
    
    </script>
}
       

